@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #fff;
  padding-top: 5%;
  padding-left: 8%;
}

.container h1 {
  display: flex;
  align-items: center;
  padding: 10px;
}
.container h1 img {
  width: 40px;
  height: 40px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  margin: 20px;
  gap: 5px;
  font-size: 16px;
}
.btn img {
  width: 20px;
  height: 20px;
}
.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  margin: 20px 0;
}
.input-box img {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;

}
